function Main.main 22
    call Menu.mostrarMenu 0
    pop local 21
    push local 21
    push constant 51
    eq
    not
    if-goto Main_1
    call Screen.clearScreen 0
    pop temp 0
    push constant 11
    call String.new 1
    push constant 83
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 300
    call Sys.wait 1
    pop temp 0
    call Sys.halt 0
    pop temp 0
    goto Main_0
label Main_1
label Main_0
    call Screen.clearScreen 0
    pop temp 0
    push constant 0
    pop local 18
    push constant 2
    pop local 14
    push constant 0
    pop local 16
    push constant 20
    call Array.new 1
    pop local 11
    push constant 20
    call Array.new 1
    pop local 12
    push constant 6
    pop local 4
    push constant 2
    pop local 5
    push constant 0
    pop local 7
    push constant 0
    pop local 15
    push constant 0
    push constant 3
    call Sunflower.new 2
    pop local 11
    push constant 3
    push constant 3
    call Sunflower.new 2
    pop local 11
    push constant 6
    push constant 3
    call Peashooter.new 2
    pop local 11
    push constant 9
    push constant 3
    call Peashooter.new 2
    pop local 11
    push constant 0
    push local 12
    add
    push constant 10
    push constant 30
    push constant 10
    push constant 1
    call Zombie.new 4
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 1
    push local 12
    add
    push constant 20
    push constant 24
    push constant 8
    push constant 1
    call Zombie.new 4
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push pointer 0
    push local 4
    call Main.drawPos 2
    pop temp 0
    push constant 15
    push constant 1
    call Output.moveCursor 2
    pop temp 0
label Main_2
    push constant 1
    neg
    not
    if-goto Main_3
    call Keyboard.readChar 0
    pop local 9
    push pointer 0
    push local 4
    push local 5
    push local 7
    push local 9
    call Main.move 5
    pop local 8
    push constant 0
    push local 8
    add
    pop pointer 1
    push that 0
    pop local 4
    push constant 1
    push local 8
    add
    pop pointer 1
    push that 0
    pop local 5
    push constant 2
    push local 8
    add
    pop pointer 1
    push that 0
    pop local 7
    call Keyboard.readChar 0
    pop local 10
    push local 10
    push constant 103
    eq
    not
    if-goto Main_5
    push local 15
    push constant 2
    gt
    not
    if-goto Main_7
    push local 4
    push constant 3
    call Sunflower.new 2
    pop local 11
    push local 15
    push constant 2
    sub
    pop local 15
    push local 7
    push constant 1
    eq
    not
    if-goto Main_9
    push local 5
    push static 0
    add
    push constant 4
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Main_8
label Main_9
label Main_8
    push local 7
    push constant 2
    eq
    not
    if-goto Main_11
    push local 5
    push static 1
    add
    push constant 4
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Main_10
label Main_11
label Main_10
    push local 7
    push constant 3
    eq
    not
    if-goto Main_13
    push local 5
    push static 2
    add
    push constant 4
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Main_12
label Main_13
label Main_12
    push local 7
    push constant 4
    eq
    not
    if-goto Main_15
    push local 5
    push static 3
    add
    push constant 4
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Main_14
label Main_15
label Main_14
    goto Main_6
label Main_7
label Main_6
    goto Main_4
label Main_5
label Main_4
    push local 10
    push constant 108
    eq
    not
    if-goto Main_17
    push local 15
    push constant 3
    gt
    not
    if-goto Main_19
    push local 4
    push constant 3
    call Peashooter.new 2
    pop local 11
    push local 15
    push constant 4
    sub
    pop local 15
    push local 7
    push constant 1
    eq
    not
    if-goto Main_21
    push local 5
    push static 0
    add
    push constant 10
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Main_20
label Main_21
label Main_20
    push local 7
    push constant 2
    eq
    not
    if-goto Main_23
    push local 5
    push static 1
    add
    push constant 10
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Main_22
label Main_23
label Main_22
    push local 7
    push constant 3
    eq
    not
    if-goto Main_25
    push local 5
    push static 2
    add
    push constant 10
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Main_24
label Main_25
label Main_24
    push local 7
    push constant 4
    eq
    not
    if-goto Main_27
    push local 5
    push static 3
    add
    push constant 10
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Main_26
label Main_27
label Main_26
    goto Main_18
label Main_19
label Main_18
    goto Main_16
label Main_17
label Main_16
    push local 10
    push constant 110
    eq
    not
    if-goto Main_29
    push local 15
    push constant 4
    gt
    not
    if-goto Main_31
    push local 4
    push constant 3
    call Wallnut.new 2
    pop local 11
    push local 15
    push constant 4
    sub
    pop local 15
    push local 7
    push constant 1
    eq
    not
    if-goto Main_33
    push local 5
    push static 0
    add
    push constant 20
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Main_32
label Main_33
label Main_32
    push local 7
    push constant 2
    eq
    not
    if-goto Main_35
    push local 5
    push static 1
    add
    push constant 20
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Main_34
label Main_35
label Main_34
    push local 7
    push constant 3
    eq
    not
    if-goto Main_37
    push local 5
    push static 2
    add
    push constant 20
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Main_36
label Main_37
label Main_36
    push local 7
    push constant 4
    eq
    not
    if-goto Main_39
    push local 5
    push static 3
    add
    push constant 20
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Main_38
label Main_39
label Main_38
    goto Main_30
label Main_31
label Main_30
    goto Main_28
label Main_29
label Main_28
    push local 10
    push constant 112
    eq
    not
    if-goto Main_41
    push local 4
    push constant 3
    call Poofshroom.new 2
    pop local 11
    push local 7
    push constant 1
    eq
    not
    if-goto Main_43
    push local 5
    push static 0
    add
    push constant 4
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Main_42
label Main_43
label Main_42
    push local 7
    push constant 2
    eq
    not
    if-goto Main_45
    push local 5
    push static 1
    add
    push constant 4
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Main_44
label Main_45
label Main_44
    push local 7
    push constant 3
    eq
    not
    if-goto Main_47
    push local 5
    push static 2
    add
    push constant 4
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Main_46
label Main_47
label Main_46
    push local 7
    push constant 4
    eq
    not
    if-goto Main_49
    push local 5
    push static 3
    add
    push constant 4
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Main_48
label Main_49
label Main_48
    goto Main_40
label Main_41
label Main_40
    push local 10
    push constant 128
    eq
    not
    if-goto Main_51
    push constant 100
    pop local 16
    goto Main_50
label Main_51
label Main_50
    push constant 1
    neg
    not
    if-goto Main_53
    push local 15
    push local 2
    call Sunflower.generarSol 1
    add
    pop local 15
    push local 15
    push local 3
    call Sunflower.generarSol 1
    add
    pop local 15
    push local 15
    push constant 9
    gt
    not
    if-goto Main_55
    push constant 9
    pop local 15
    goto Main_54
label Main_55
label Main_54
    goto Main_52
label Main_53
label Main_52
    push constant 1
    neg
    not
    if-goto Main_57
    push local 18
    push local 12
    add
    pop pointer 1
    push that 0
    pop local 13
    push local 13
    call Zombie.getVida 1
    push constant 0
    gt
    not
    if-goto Main_59
    push local 13
    call Zombie.getYard 1
    pop local 17
    push local 17
    push constant 1
    eq
    not
    if-goto Main_61
    push local 13
    push static 0
    call Zombie.walk 2
    pop static 0
    goto Main_60
label Main_61
label Main_60
    push local 17
    push constant 2
    eq
    not
    if-goto Main_63
    push local 13
    push static 1
    call Zombie.walk 2
    pop static 1
    goto Main_62
label Main_63
label Main_62
    push local 17
    push constant 3
    eq
    not
    if-goto Main_65
    push local 13
    push static 2
    call Zombie.walk 2
    pop static 2
    goto Main_64
label Main_65
label Main_64
    push local 17
    push constant 4
    eq
    not
    if-goto Main_67
    push local 13
    push static 3
    call Zombie.walk 2
    pop static 3
    goto Main_66
label Main_67
label Main_66
    goto Main_58
label Main_59
label Main_58
    push local 13
    push constant 2
    call Zombie.restarVida 2
    pop temp 0
    push local 18
    push constant 1
    add
    pop local 18
    push local 18
    push local 14
    eq
    not
    if-goto Main_69
    push constant 0
    pop local 18
    goto Main_68
label Main_69
label Main_68
    goto Main_56
label Main_57
label Main_56
    push local 16
    push constant 1
    sub
    pop local 16
    push pointer 0
    push local 4
    call Main.drawPos 2
    pop temp 0
    push constant 15
    push constant 1
    call Output.moveCursor 2
    pop temp 0
    call Output.backSpace 0
    pop temp 0
    push local 15
    call Output.printInt 1
    pop temp 0
    goto Main_2
label Main_3
    push constant 0
    return
function Main.move 5
    push argument 0
    pop pointer 0
    push argument 1
    pop local 1
    push argument 2
    pop local 2
    push argument 3
    pop local 3
    push argument 4
    pop local 0
    push pointer 0
    push local 1
    call Main.clearPos 2
    pop temp 0
    push local 0
    push constant 97
    sub
    push constant 0
    eq
    not
    if-goto Main_71
    push local 2
    push constant 0
    gt
    not
    if-goto Main_73
    push local 1
    push constant 3
    sub
    pop local 1
    push local 2
    push constant 1
    sub
    pop local 2
    goto Main_72
label Main_73
label Main_72
    goto Main_70
label Main_71
label Main_70
    push local 0
    push constant 115
    sub
    push constant 0
    eq
    not
    if-goto Main_75
    push local 3
    push constant 3
    lt
    not
    if-goto Main_77
    push local 1
    push constant 32
    push constant 32
    call Math.multiply 2
    add
    pop local 1
    push local 3
    push constant 1
    add
    pop local 3
    goto Main_76
label Main_77
label Main_76
    goto Main_74
label Main_75
label Main_74
    push local 0
    push constant 100
    sub
    push constant 0
    eq
    not
    if-goto Main_79
    push local 2
    push constant 10
    lt
    not
    if-goto Main_81
    push local 1
    push constant 3
    add
    pop local 1
    push local 2
    push constant 1
    add
    pop local 2
    goto Main_80
label Main_81
label Main_80
    goto Main_78
label Main_79
label Main_78
    push local 0
    push constant 119
    sub
    push constant 0
    eq
    not
    if-goto Main_83
    push local 3
    push constant 0
    gt
    not
    if-goto Main_85
    push local 1
    push constant 32
    push constant 32
    call Math.multiply 2
    sub
    pop local 1
    push local 3
    push constant 1
    sub
    pop local 3
    goto Main_84
label Main_85
label Main_84
    goto Main_82
label Main_83
label Main_82
    push constant 3
    call Array.new 1
    pop local 4
    push constant 0
    push local 4
    add
    push local 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 1
    push local 4
    add
    push local 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 2
    push local 4
    add
    push local 3
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push pointer 0
    push local 1
    call Main.drawPos 2
    pop temp 0
    push local 4
    return
function Main.drawPos 1
    push argument 0
    pop pointer 0
    push constant 16384
    push argument 1
    add
    pop local 0
    push local 0
    push constant 5
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 6
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 7
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Main.clearPos 1
    push argument 0
    pop pointer 0
    push constant 16384
    push argument 1
    add
    pop local 0
    push local 0
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push constant 0
    return