function Sunflower.new 0
    push constant 5
    call Memory.alloc 1
    pop pointer 0
    push constant 5
    pop this 0
    push constant 7
    pop this 1
    push constant 2
    pop static 0
    push constant 1
    pop this 2
    push constant 6
    pop this 3
    push this 0
    push static 0
    push this 1
    push argument 0
    push argument 1
    call Plant.plantar 5
    pop this 4
    push pointer 0
    call Sunflower.draw 1
    pop temp 0
    push pointer 0
    call Sunflower.comportamientoGirasol 1
    pop temp 0
    push pointer 0
    return
function Sunflower.draw 0
    push argument 0
    pop pointer 0
    push constant 0
    return
function Sunflower.generarSol 0
    push argument 0
    pop pointer 0
    push this 3
    push constant 0
    gt
    not
    if-goto Sunflower_1
    push this 3
    push constant 1
    sub
    pop this 3
    push constant 0
    return
    goto Sunflower_0
label Sunflower_1
label Sunflower_0
    push constant 7
    pop this 3
    push constant 1
    return
function Sunflower.comportamientoGirasol 1
    push argument 0
    pop pointer 0
    push pointer 0
    call Sunflower.generarSol 1
    pop local 0
    push constant 0
    return